@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./Poppins-Regular.woff) format(woff),
      url(./Poppins-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./Poppins-Medium.woff) format(woff),
      url(./Poppins-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./Poppins-SemiBold.woff) format(woff),
      url(./Poppins-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
  }